language: python

# all python versions tested via pip in tox
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"

# Travis does not properly support this yet.
# https://github.com/travis-ci/travis-ci/issues/9815
matrix:
  include:
    - python: 3.7
      dist: xenial
      sudo: true

before_install:

install: python setup.py install

script: cd ruffus/test && /bin/bash run_all_unit_tests.cmd

sudo: false
